/www/symfony/app/config/parameters.yml
/www/symfony/app/config/providers.yml
/www/symfony/app/cache/*
/www/symfony/app/logs/*
/www/symfony/web/bundles/vendor/bower_components/*
!/www/symfony/app/cache/.gitkeep
!/www/symfony/app/logs/.gitkeep
!/www/symfony/web/bundles/vendor/bower_components/.gitkeep
/www/symfony/build/
/www/symfony/vendor/
/www/symfony/bin/
/www/symfony/composer.phar
/www/symfony/web/bundles/ecl/files/
/ssl/
/node_modules/
*.directory
*~