#main table
{
    font-size: 0.85em;
    margin: 20px auto;
}
#main td, #main th
{
    padding: 3px;
}
#main caption
{
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}
#main p
{
    font-size: 0.85em;
    margin-bottom: 15px;
}