/* --------- dimmensions --------- */

$header_height: 59px;
$sidebar_width: 290px;
$wrapper_width: 960px;
$section_wrapper_width: 610px;

/* --------- colors --------- */

$main_block_background: #f7f7f7;
$link_color: #777;
$default_text_color: #505050;
$input_background_color: #fefefe;
$input_background_color_disabled: #eee;
$input_background_color_hover: #fffee3;

/* --------- borders --------- */

$main_block_border: 1px solid #eee;
$input_border: 1px solid #888;