/* --------- Dimmensions --------- */

$header_height: 59px;
$sidebar_width: 290px;
$mobile_sidebar_with: 200px;
$wrapper_width: 960px;
$section_wrapper_width: 610px;

/* --------- Indexes --------- */

$header_index: 90;
$disable_background_index: $header_index - 1;

/* --------- Colors --------- */

$main_block_background: #f7f7f7;
$link_color: #777;
$default_text_color: #505050;
$input_background_color: #fefefe;
$input_background_color_disabled: #eee;
$input_background_color_hover: #fffee3;

/* --------- Borders --------- */

$main_block_border: 1px solid #eee;
$input_border: 1px solid #888;