/* --------- Images --------- */

$url_img_social: url(/web/bundles/ecl/img/social_icons.png?2015-01-15);


/* --------- Fonts --------- */

$url_font_gothic_eot: url(/web/bundles/ecl/fonts/league_gothic/league_gothic-webfont.eot);
$url_font_gothic_eot_iefix: url(/web/bundles/ecl/fonts/league_gothic/league_gothic-webfont.eot?#iefix);
$url_font_gothic_ttf: url(/web/bundles/ecl/fonts/league_gothic/league_gothic-webfont.ttf);
$url_font_gothic_woff: url(/web/bundles/ecl/fonts/league_gothic/league_gothic-webfont.woff);