/* --------- Images --------- */

$url_img_login: url(/bundles/ecl/img/social_login.png?2015-01-15);
$url_img_no_picture: url(/bundles/ecl/img/no-picture.jpg?2015-01-15);
$url_img_actions: url(/bundles/ecl/img/actions.png?2015-01-15);
$url_img_icons: url(/bundles/ecl/img/icons.png?2015-01-15);

/* --------- Fonts --------- */

$url_font_gothic_eot: url(/bundles/ecl/fonts/league_gothic/league_gothic-webfont.eot);
$url_font_gothic_eot_iefix: url(/bundles/ecl/fonts/league_gothic/league_gothic-webfont.eot?#iefix);
$url_font_gothic_ttf: url(/bundles/ecl/fonts/league_gothic/league_gothic-webfont.ttf);
$url_font_gothic_woff: url(/bundles/ecl/fonts/league_gothic/league_gothic-webfont.woff);