<header id="main_header_wrapper">
    <button id="display_sidebar_button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <h1>Eduardo Casas <span>{{ 'web_developer_header' | trans }}</span></h1>
</header>