* 
{
    font-size: 1em;
    margin: 0;
    padding: 0;
}
:focus
{
    outline:none;
}
a
{
    color: #6841d9;
}        
a:link, a:visited
{
    text-decoration:none;
    outline: none; 
}
a:hover
{
    color: #222;
    text-decoration: none;	
}
p
{
    line-height: 150%;
    text-align: justify;
}

/* ------------ Wrapper ------------ */

body
{
    background: rgb(6,56,109); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(6,56,109,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(6,56,109,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(6,56,109,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(6,56,109,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(6,56,109,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(6,56,109,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    background-attachment: fixed;
    font-family: arial, verdana;
    font-size: 1em;
}
#wrapper
{
    background: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000, 0 0 30px #000;
    margin: 15px auto;
    overflow: hidden;
    padding: 25px 25px 10px 25px;
    width: 800px;
}

/* ------------ Aside ------------ */

#aside
{
    float:right;
    margin-left: 40px;
    width: 25%;
}

/* ------------ Main ------------ */

#main
{
    width: 70%;
}
