#main_article_wrapper
{
    background-color: inherit;
    border: none;
    padding: 0;
    width: 650px;
}
    .article
    {
        background-color: #f7f7f7;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px 20px;
        overflow: hidden;
    }
        .article h1
        {
            font-family : "league-gothic";   
            font-size: 2.5em;
            font-weight: normal;
            margin-bottom: 10px;
        }
            .article h1 a
            {
                color: #777777;
            }
                .article h1 a:hover
                {
                    color: #000;
                    text-decoration: none;
                }
        .article img
        {
            border-radius: 5px;
            float: left;
            margin-right: 10px;
            max-width: 150px;
        }
        .article ul
        {
            margin-top: 10px;
        }
            .article li
            {
                display: inline-block;
            }
                .article ul > li:before
                {
                    content: ",";
                    font-weight: bold;
                    margin: 0 10px 0 -5px;
                }
                    .article ul > li:first-child:before
                    {
                        content: "";
                        margin: 0 5px 0 0;
                    }
                    .article li a
                    {
                        color: #645df6;
                    }
                        .article li a:hover
                        {
                            color: #2b2696;
                            text-decoration: none;
                        }
        .article p
        {
            font-size: 1.1em;
            margin-top: 10px;
        }

/* ------------ pagination ------------ */

#pages
{
    font-size: 1.2em;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}
    #pages li
    {
        display: inline-block;
        margin: 0 5px;
    }
        li#pages_info
        {
            margin: 0 10px;
        }
            #pages a:hover
            {
                opacity: 0.7;
                text-decoration: none;
            }
