@import 'partials/_parameters';

#main_article_wrapper {
    background-color: inherit;
    border: none;
    padding: 0;
    width: 650px;    
}
.article {
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px 20px;
    overflow: hidden;
    section {
        float: left;
        a {
            font-weight: bold;
        }
    }
    h2 {
        font-family : "league-gothic";   
        font-size: 2.3em;
        font-weight: normal;
        margin-bottom: 15px;
        a {
            color: #777777;
        }
        a:hover {
            color: #000;
            text-decoration: none;
        }
    }
    img {
        border: 1px solid #aaa;
        float: right;
        margin: 0 0 0 15px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    li {
        margin-bottom: 10px;
    }
    p {
        clear: both;
        margin-bottom: 35px;
    }
}
img#android_picture {
    border: none;
}

@media (max-width: $section_wrapper_width+$sidebar_width+80) {
 
    #title {
        margin-left: 20px;
    }
    .article {
        p {
            margin-bottom: 25px;
        }        
        section {
            clear: both;
            float: none;
        }        
        img {
            clear: both;
            display: block;
            float: none;
            margin: 30px auto 20px;
        }    
    }
}