#contact_form {
  margin-top: 50px; }
  #contact_form fieldset {
    margin: 20px 0; }
  #contact_form label {
    display: inline-block;
    margin: 5px 10px 0 0;
    text-align: right;
    vertical-align: top;
    width: 80px; }

#contact_name,
#contact_email {
  padding: 5px;
  width: 250px; }

#contact_subject,
#contact_message {
  padding: 5px;
  width: 430px; }

#contact_message {
  height: 160px; }

input[type=submit] {
  margin: 10px 0 30px 95px; }
