@import 'partials/_parameters';
@import 'partials/_resources';

@font-face {
    font-family: "league-gothic";
    src: $url_font_gothic_eot;
    src: $url_font_gothic_eot_iefix format('embedded-opentype'),
         $url_font_gothic_ttf format('truetype'),
         $url_font_gothic_woff format('woff');
    font-weight: normal;
    font-style: normal;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
video {
    display: block;
}
* {
    border: none;
    color: $default_text_color;
    margin: 0;
    padding: 0;
}
iframe {
    display: none;
}
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
a {
    &:link,
    &:visited {
        text-decoration:none;
        outline: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
ul {
    list-style-type: none;
}
input {
    border: none;
}
input[type=text],
input[type=email],
input[type=radio],
input[type=checkbox],
input[type=input],
input[type=password],
textarea,
select,
option {
    border: $input_border;
    border-radius: 5px;
    background-color: $input_background_color;
    padding: 1px 5px;
}
select,
option {
    padding: 0 5px;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
select:focus,
option:focus {
    background-color: $input_background_color_hover;
}
input[disabled=disabled],
select[disabled=disabled],
select[disabled=disabled] option,
textarea[disabled=disabled] {
    background-color: $input_background_color_disabled;
}
input, textarea {
    font-family: arial;
    font-size: 1em;
}
label, select, option,
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
p {
    line-height: 150%;
    margin-bottom: 15px;
    text-align: justify;
}
td,
tr {
    -ms-word-wrap: break-word;
    word-wrap: break-word; 
}
div.medio {
    clear:both;
    display:block;
}
.compulsory {
    color: red;
    cursor: help;
    font-size: 1.3em;
    padding: 2px 3px 0;
    vertical-align: middle;
}
.hide {
    display: none;
}

/* ---------------- buttons ---------------- */

button {
    background: none;
    cursor: pointer;
}
.button,
.submit_button,
.remove_button,
.upload_button {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,0.45);    
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: 0 -0.1em 0 #333;    
}
.button {
    background: #58a9e2;
    background: -moz-linear-gradient(top,  #58a9e2 0%, #346cce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58a9e2), color-stop(100%,#346cce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #58a9e2 0%,#346cce 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #58a9e2 0%,#346cce 100%); /* W3C */
    border: 1px solid #000;
}
.submit_button {
    background: #8579de;
    background: -moz-linear-gradient(top,  #8579de 0%, #4b3cb5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8579de), color-stop(100%,#4b3cb5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8579de 0%,#4b3cb5 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #8579de 0%, #4b3cb5 100%); /* W3C */
    cursor: pointer;
    display: block;
}
.remove_button {
    background: #ff5b5b;
    background: -moz-linear-gradient(top,  #ff5b5b 0%, #ad0606 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5b5b), color-stop(100%,#ad0606)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff5b5b 0%,#ad0606 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff5b5b 0%,#ad0606 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom,  #ff5b5b 0%,#ad0606 100%); /* W3C */
    font-size: 0.9em;
    padding: 3px 10px;
}
.upload_button {
    background: #db924e;
    background: -moz-linear-gradient(top,  #db924e 0%, #e07108 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db924e), color-stop(100%,#e07108)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #db924e 0%,#e07108 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #db924e 0%,#e07108 100%); /* W3C */
    font-size: 0.9em;
    padding: 3px 10px;
}
.button:hover,
.remove_button:hover,
.upload_button:hover,
.submit_button:hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: inset 0 0 6px #000;
    text-decoration: none;
}

/* ---------------- body ---------------- */

body {
    font-family: arial, verdana;
    font-size: 0.85em;
}
#content {
    margin: 0 auto;
    padding-bottom: 10px;
    width: $wrapper_width;
}
    
/* ---------------- header ---------------- */  
    
#main_header_wrapper {
    background-color: $main_block_background;
    border-bottom: $main_block_border;
    left: 0;
    min-height: $header_height;
    position: fixed;
    width: 100%;
    z-index: 90;    
    h1 {
        display: inline-block;
        font-size: 1.8em;
        margin: 15px 0 10px 20px;
        span {
            color: $link_color;
            display: inline-block;
            font-size: 0.65em;
            margin-left: 20px;
            text-shadow: none;
        }
    }
    .loading {
        margin: 10px 10px 10px 10px;
    }        
}
.onscroll {
    box-shadow: 0 0 15px #000;
    opacity: 0.8;
}
#nav {
    float: right;
    margin: 15px 25px 0;
    li {
        display: inline-block;
        font-family: "league-gothic";
        font-size: 1.9em;
        margin-left: 10px;
    }
    strong,
    h2,
    a {
        display: inline-block;
    }
    h2 {
        font-size: 1em;
    }
    a {
        color: $link_color;
    }
    strong,
    h2,
    a:hover {
        color: #000;
        font-weight: normal;
        text-decoration: none;
    }
    .separator:before {
        color: #ddd;
        content: "|";
        margin: 0 20px 0 10px;
    }
}
#display_sidebar_button {
    display: none;
}

/* --------- main --------- */

#main_wrapper {
    padding-top: 85px;
    overflow: hidden;
}
#main_article_wrapper {
    background-color: $main_block_background;
    border: $main_block_border;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    padding: 20px;
    width: $section_wrapper_width;
}
#title {
    font-family : "league-gothic";   
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
}
.main_article_wrapper p {
    font-size: 1em;
    line-height: 160%;
}
        
/* --------- sidebar --------- */

#default_sidebar_wrapper {
    float: right;
    width: $sidebar_width;
    .sidebar_section {
        background-color: #f7f7f7;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .sidebar_section h1 {
        border-bottom: 1px solid #ddd;
        font-family : "league-gothic";
        font-size: 2em;
        font-weight: normal;
        padding-bottom: 5px;
    }
    img {
        border-radius: 5px;
        display: block;
        margin: 35px auto 10px;
    }
}
#my_social {
    margin-bottom: 25px;
    text-align: center;
    li {
        display: inline-block;
    }
    a {
        background-image: $url_img_social;
        background-repeat: no-repeat;
        border-radius: 5px;
        display: block;
        height: 40px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        width: 40px;
        &:hover {
            box-shadow: inset 0 0 8px #000;
        }
    }
}
#my_twitter {
    background-position: 0 0;
}
#my_github {
    background-position: -80px 0;
}
#my_linkedin {
    background-position: -200px 0;
}
#my_gplus {
    background-position: -40px 0;
}
#my_rss {
    background-position: -280px 0;
}
#tag_boilerplate_list {
    margin: 30px;
    ul {
        margin: 10px 0 0 10px;
    }
    strong,
    a {
        color: $link_color;
        font-family: "league-gothic";
        font-size: 1.6em;
    }
    strong {
        color: #000;
        font-weight: normal;
    }
    a:hover {
        color: #000;
        text-decoration: none;
    }
}
#github_collection {
    margin: 30px;
    ul {
        margin-right: -20px;
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 8px;
        word-break:break-all;
    }
    li {
        margin-top: 10px;
    }
    a {
        color: #645df6;
        display: block;
        &:hover {
            color: #2b2696;
            text-decoration: none;
        }
    }
}
                
/* --------- footer --------- */

#main_footer_wrapper {
    border-top: 1px solid #eee;
    margin-top: 60px;
    text-align: center;
    padding-top: 10px;
    li {
        display: inline-block;        
    }
    a {
        font-weight: bold;
    }
    .separator:after {
        content:"|";
        padding: 0 20px;
    }    
}
#eduardocasas {
    float: right;
}


/* ---------------- Responsive Design ---------------- */

@media (max-width: $section_wrapper_width+$sidebar_width+10) {
    #content,
    #main_article_wrapper {
        box-sizing: border-box;
        width: 100% !important;
    }
    #main_article_wrapper {
        background-color: inherit;
        border: none;
        padding: 0 20px;
    }
    #nav,
    #default_sidebar_wrapper {
        display: none;
    }
    #main_header_wrapper {
        h1 {
            font-size: 1.5em;
            span {
               margin: 0;
            }
        }
    }
    .onscroll {
        opacity: 1;
    }
    #display_sidebar_button {
        display: block;
        float: right;
        margin: 15px 15px 0 15px;
        width: 20px;
        span {
            display: block;
            border-top: 3px solid $link_color;
            margin-top: 4px;
            width: 16px;
        }
    }
    #default_sidebar_wrapper {
        background-color: $main_block_background;
        left: 0;
        position: fixed;
        top: $header_height;
    }
    #main_footer_wrapper {
        margin-top: 0;
        li {
            display: block;
            margin-bottom: 5px;
        }
        .separator:after {
            content:"";
            padding: 0;
        }
    }
}