#main_article_wrapper {
    background-color:  #fff;
    border: none;
    float: none;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    h1 {
        font-family : "league-gothic";
        font-size: 5em;
        font-weight: normal;
    }
    p {
        font-size: 2em;
        text-align: center;
    }
}
#sidebar {
    display: none;
}